go 1.25.0

use (
	./proto/gen/go
	./services/alert-service
	./services/analytics-service
	./services/api-gateway
	./services/blockchain-service
	./services/case-service
	./services/encryption-service
	./services/iam-service
	./services/kyc-service
	./services/transaction-service
	./shared/go
)
